.fake-editor {
  @apply transition-all duration-150;
  @apply bg-gray-200 hover:bg-white dark:bg-slate-700 dark:hover:bg-slate-600;
  @apply border border-gray-300 dark:border-gray-600;
  @apply flex cursor-pointer rounded p-5;

  &__icon {
    @apply h-6 w-6;
    @apply text-gray-700 dark:text-gray-300;
    @apply mr-4 fill-current opacity-75;
  }

  &__placeholder {
    @apply text-base text-gray-700 dark:text-gray-400;
  }
}

.td-editor {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-bold;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }

  .ce-block--stretched {
    position: relative;
    @media (min-width: 768px) {
      position: relative;
      margin-left: calc(50% - 32vw);
      margin-right: calc(50% - 32vw);
    }
  }
}
