@font-face {
  font-family: "Boshonto";
  src: url("/fonts/Boshonto.woff") format("woff"),
    url("/fonts/Boshonto.woff2") format("woff2");
}

@font-face {
  font-family: "KohinoorBangla";
  src: url("/fonts/KohinoorBangla-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "KohinoorBangla";
  src: url("/fonts/KohinoorBangla-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "KohinoorBangla";
  src: url("/fonts/KohinoorBangla-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "KohinoorBangla";
  src: url("/fonts/KohinoorBangla-Semibold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "KohinoorBangla";
  src: url("/fonts/KohinoorBangla-Bold.woff") format("woff");
  font-weight: 700;
}
