// primary
// primary variant
// body
// surface -> modal, drawer
// light

:root {
  --background: #fff;
  --forground: #0c0c0c;
  --forgroun-muted: #475569;

  --primary: #8A9CFE;
  --primary-foreground: #fff;
  --primary-variant: color-mix(in srgb, var(--primary-temp), #000 10%);

  --secondary: #f4a261;
  --secondary-foreground: #171717;

  --muted: #F5F5F5
  --muted-foreground: #737373;


  --destructive: #EF4343;
  --destructive-foreground: #FAFAFA;

  --border: #E5E7EB;

  // text
  --text-base: #0a0a0a;
  --text-gray: #9ca3af;
  --text-muted: #d1d5db;

  // Theme
  --theme-light: #f1fada;
  --theme-body: #f6fff8;
  --theme-surface: #fff;

  // https://stackoverflow.com/a/55330103/3705299

  
}

html[data-mantine-color-scheme="dark"] {
  --theme-primary: color-mix(
    in srgb,
    var(--theme-primary-temp),
    #000 10%
  ) !important;

  --background: #0B1215;
  --forground: #fff;
  --forgroun-muted: #e1e4e8;
}
