@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is([data-mantine-color-scheme="dark"] *));

@theme {
  --animate-reverse-spin: reverse-spin 1s linear infinite;

  --color-background: var(--background);

  --color-forground: var(--forground);
  --color-forground-muted: var(--forgroun-muted);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-variant: var(--primary-variant);

  --color-border-color: var(--border);
  --color-light: var(--theme-light);
  --color-surface: var(--theme-surface);
  --color-light-gray: var(--light-gray);
  --color-text-gray: var(--text-gray);
  --color-text-muted: var(--text-muted);
  --color-card-header: var(--card-header);

  --color-neutral-primary: var(--neutral-primary);
  --color-neutral-secondary: var(--neutral-secondary);
  --color-neutral-muted: var(--neutral-muted);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --font-Kohinoor-bangla: KohinoorBangla, Nunito, Arial;
  --font-siliguri: Hind Siliguri, Nunito, Arial;
  --font-mono: Fira Code, techdiary-bangla, monospace;
  --font-boshonto: Boshonto, Kohinoor Bangla;

  --z-index--1: -1;

  @keyframes reverse-spin {
    from {
      transform: rotate(360deg);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-gradient {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@utility wrapper {
  max-width: 1300px;
  width: 98%;
  margin: auto;
  position: relative;
}

@utility app-border-color {
  @apply border-slate-200 dark:border-slate-600;
}

@utility text-dark {
  @apply text-slate-900 dark:text-slate-200;
}

@utility text-dark-secondary {
  @apply text-slate-600 dark:text-slate-300;
}

@utility text-dark-tertiary {
  @apply text-slate-400 dark:text-gray-600;
}

@utility bg-dark {
  @apply bg-gray-900 dark:bg-gray-200;
}

@utility bg-dark-secondary {
  @apply bg-gray-600 dark:bg-gray-300;
}

@utility bg-dark-tertiary {
  @apply bg-gray-100 dark:bg-gray-600;
}

@utility debug {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 5px solid transparent;
    animation: blink 1000ms;
    animation-iteration-count: infinite;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  a {
    @apply text-primary hover:underline;
  }
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-lg;
    background-color: var(--muted);
  }
}
@layer utilities {
  body {
    background-color: var(--background);
    color: var(--forground);
  }
}
@keyframes blink {
  50% {
    border-color: #ff0000;
  }
}
.swal-footer {
  background-color: rgb(245, 248, 250);
  margin-top: 32px;
  border-top: 1px solid #e9eef1;
  overflow: hidden;
}

:root {
  --background: #fff;
  --forground: #0c0c0c;
  --forgroun-muted: #475569;
  --primary: #8a9cfe;
  --primary-foreground: #fff;
  --primary-variant: color-mix(in srgb, var(--primary-temp), #000 10%);
  --secondary: #f4a261;
  --secondary-foreground: #171717;
  --muted: #f4f4f5;
  --muted-foreground: #737373;
  --destructive: #ef4343;
  --destructive-foreground: #fafafa;
  --success: #00b368;
  --success-foreground: #fafafa;
  --border: #e5e7eb;
}

html[data-mantine-color-scheme="dark"] {
  --background: #0b1215;
  --muted: #1e272c;
  --forground: #fff;
  --border: #464749;
  --forgroun-muted: #e1e4e8;
}

img {
  max-width: 100%;
}

button {
  @apply focus:outline-hidden;
}

.layout {
  @apply grid grid-cols-12 overflow-hidden;
  height: calc(100vh - (--spacing(14)));
}
.layout__main {
  @apply overflow-y-auto px-3 pt-3 md:pt-6;
  @apply col-span-12 md:col-span-9 lg:col-span-6;
  @apply md:border-l lg:border-r;
}
.layout__aside {
  @apply max-h-screen overflow-y-hidden px-6;
}
.layout__aside__inner {
  @apply h-full overflow-y-auto;
}
.layout__aside--left {
  @apply hidden md:block;
  @apply col-span-3 pt-6 lg:col-span-2;
}
.layout__aside--right {
  @apply hidden lg:block;
  @apply col-span-3 pt-6 lg:col-span-3;
}

.navbar {
  @apply bg-background;
  @apply sticky left-0 top-0 z-30 w-full border-b;
}
.navbar .navbar__inner {
  @apply fill-current;
  @apply h-12;
  @apply flex items-center justify-between;
}
.navbar__logo {
  @apply text-primary;
}
.navbar__left {
  @apply flex items-center gap-1;
}
.navbar__hambargur-button {
  @apply md:hidden;
}
.navbar__hambargur-icon {
  @apply h-6 w-6;
  @apply text-gray-700 dark:text-gray-200;
}

.article-card__thumbnail {
  @apply overflow-hidden rounded-xs;
}
.article-card__title {
  @apply mb-[10px] block text-xl font-semibold text-gray-700 dark:text-gray-300;
}
.article-card__excerpt {
  @apply block text-gray-500 dark:text-gray-400;
}
.article-card__content {
  @apply mt-2;
}
.article-card__tags {
  @apply flex flex-wrap gap-2;
}
.article-card__tag {
  @apply text-gray-500 hover:text-gray-700;
}

.vote {
  @apply inline-flex overflow-hidden rounded-md;
}
.vote__button {
  @apply bg-gray-100 hover:bg-gray-200;
  @apply dark:border-gray-600 dark:bg-gray-800 dark:hover:bg-gray-700;
  @apply flex items-center px-3 py-1 transition-all duration-100;
}
.vote__button--upvote {
  @apply border-r;
}
.vote__button--downvote {
  @apply px-2;
}
.vote__button--active {
  @apply bg-gray-200 text-primary dark:bg-gray-700;
}

.search--popup {
  display: block !important;
  @apply absolute left-0 top-0 z-50 w-full max-w-none;
}
.search--popup .search__input {
  @apply h-full w-full rounded-sm border border-slate-200 bg-slate-100 py-4 pl-8 focus:outline-hidden focus:ring-primary;
}
.search__input {
  @apply w-full;
  @apply border-slate-200 bg-slate-100 focus:outline-hidden focus:ring-2 focus:ring-primary dark:border-slate-600 dark:bg-slate-800;
  @apply rounded-sm border;
}
.search__icon {
  @apply absolute h-5 w-5 translate-y-[-50%] text-slate-400;
  @apply inline-block md:hidden;
}
.search__icon--magnify {
  @apply left-2 top-[50%];
}
.search__icon--x {
  @apply right-2 top-[50%] cursor-pointer;
}

.content-typography {
  @apply prose md:prose-xl prose-slate dark:prose-invert;
  @apply max-w-none;
  @apply prose-code:p-0;
  @apply prose-a:inline-block;
  @apply prose-p:p-0;
  @apply prose-img:inline-block;
  @apply prose-headings:font-semibold;
  @apply prose-h1:text-xl md:prose-h1:text-2xl;
  @apply prose-h2:text-lg md:prose-h2:text-2xl;
  @apply prose-h3:text-base md:prose-h3:text-xl;
  @apply prose-h4:text-base md:prose-h4:text-xl;
}
.content-typography iframe {
  @apply w-full aspect-16/9;
}
.content-typography .table-of-contents {
  @apply bg-slate-100 py-2 dark:bg-slate-700 prose-sm md:prose-base;
  @apply mb-4;
}
.content-typography .heading-permalink {
  @apply md:scroll-mt-20 scroll-mt-16;
  @apply mr-3;
}

.markdown {
  @apply text-dark leading-normal break-words;
}
.markdown > * + * {
  @apply mt-0 mb-4;
}
.markdown li + li {
  @apply mt-1;
}
.markdown li > p + p {
  @apply mt-6;
}
.markdown strong {
  @apply font-semibold;
}
.markdown strong a {
  @apply font-bold;
}
.markdown a {
  @apply text-blue-400 font-normal;
}
.markdown h1 {
  @apply leading-tight border-b text-4xl font-semibold mb-4 mt-6 pb-2;
}
.markdown h2 {
  @apply leading-tight border-b text-2xl font-semibold mb-4 mt-6 pb-2;
}
.markdown h3 {
  @apply leading-snug text-lg font-semibold mb-4 mt-6;
}
.markdown h4 {
  @apply leading-none text-base font-semibold mb-4 mt-6;
}
.markdown h5 {
  @apply leading-tight text-sm font-semibold mb-4 mt-6;
}
.markdown h6 {
  @apply leading-tight text-sm font-semibold mb-4 mt-6;
}
.markdown blockquote {
  @apply text-base border-l-4 border-gray-300 pl-4 pr-4;
}
.markdown code {
  @apply font-mono text-sm inline bg-gray-200 rounded-sm px-1 py-1;
}
.markdown img {
  @apply inline-block;
}
.markdown pre {
  @apply bg-gray-100 rounded-sm p-4;
}
.markdown pre code {
  @apply block bg-transparent p-0 overflow-visible rounded-none;
}
.markdown pre.hljs {
  background-color: #1f2937;
}
.markdown pre.hljs code {
  @apply leading-loose;
}
.markdown ul {
  @apply text-base pl-8 list-disc;
}
.markdown ol {
  @apply text-base pl-8 list-decimal;
}
.markdown kbd {
  @apply text-xs inline-block rounded-sm border px-1 py-1 align-middle font-normal font-mono shadow-sm;
}
.markdown table {
  @apply text-base border-gray-600;
}
.markdown table th {
  @apply border py-1 px-3;
}
.markdown table td {
  @apply border py-1 px-3;
}
.markdown .highlight pre {
  @apply bg-gray-100;
}

.fake-editor {
  @apply transition-all duration-150;
  @apply bg-gray-200 hover:bg-white dark:bg-slate-700 dark:hover:bg-slate-600;
  @apply border border-gray-300 dark:border-gray-600;
  @apply flex cursor-pointer rounded-sm p-5;
}
.fake-editor__icon {
  @apply h-6 w-6;
  @apply text-gray-700 dark:text-gray-300;
  @apply mr-4 fill-current opacity-75;
}
.fake-editor__placeholder {
  @apply text-base text-gray-700 dark:text-gray-400;
}

.td-editor h1,
.td-editor h2,
.td-editor h3,
.td-editor h4,
.td-editor h5 {
  @apply font-bold;
}
.td-editor h1 {
  @apply text-2xl;
}
.td-editor h2 {
  @apply text-xl;
}
.td-editor h3 {
  @apply text-lg;
}
.td-editor h4 {
  @apply text-base;
}
.td-editor .ce-block--stretched {
  position: relative;
}
@media (min-width: 768px) {
  .td-editor .ce-block--stretched {
    position: relative;
    margin-left: calc(50% - 32vw);
    margin-right: calc(50% - 32vw);
  }
}

.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  @apply bg-gray-800 dark:bg-gray-100;
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}

.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}

.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}
@font-face {
  font-family: "Boshonto";
  src: url("/fonts/Boshonto.woff") format("woff"),
    url("/fonts/Boshonto.woff2") format("woff2");
}
@font-face {
  font-family: "KohinoorBangla";
  src: url("/fonts/KohinoorBangla-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "KohinoorBangla";
  src: url("/fonts/KohinoorBangla-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "KohinoorBangla";
  src: url("/fonts/KohinoorBangla-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "KohinoorBangla";
  src: url("/fonts/KohinoorBangla-Semibold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "KohinoorBangla";
  src: url("/fonts/KohinoorBangla-Bold.woff") format("woff");
  font-weight: 700;
}
.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  @apply bg-gray-800 dark:bg-gray-100;
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}

.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}

.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}
.login {
  @apply flex flex-col space-y-3;
}
.login__icon {
  @apply w-4 h-4 fill-current;
}
.login__icon--google {
  @apply text-red-500;
}
.login__label {
  @apply text-sm;
}
.login__button {
  @apply flex items-center justify-center space-x-2;
  @apply w-full py-1 rounded-xs hover:opacity-95;
  @apply transition duration-150;
  @apply py-2;
}
.login__button--github {
  @apply text-gray-700 dark:text-gray-400 border bg-gray-800/5 border-gray-800 dark:border-gray-700;
}
.login__button--google {
  @apply text-red-500 bg-red-500/10 border border-red-500;
}
.login__button--auth {
  @apply text-gray-700 dark:text-gray-400 mt-0;
}

.top-full {
  top: 100%;
}

.ce-block--selected .ce-block__content {
  @apply dark:bg-gray-800;
}

.v-note-wrapper.shadow {
  z-index: -10;
}

.profile-card-ribon {
  background: linear-gradient(
    0deg,
    rgba(18, 29, 34, 0.95) 9%,
    rgba(255, 255, 255, 0) 100%
  );
}
