:root {
  --background: #fff;
  --forground: #0c0c0c;
  --forgroun-muted: #475569;

  --primary: #8a9cfe;
  --primary-foreground: #fff;
  --primary-variant: color-mix(in srgb, var(--primary-temp), #000 10%);

  --secondary: #f4a261;
  --secondary-foreground: #171717;

  --muted: #f4f4f5;
  --muted-foreground: #737373;

  --destructive: #ef4343;
  --destructive-foreground: #fafafa;

  --success: #00b368;
  --success-foreground: #fafafa;

  --border: #e5e7eb;

  /* https://stackoverflow.com/a/55330103/3705299 */
}

html[data-mantine-color-scheme="dark"] {
  --background: #0b1215;
  --muted: #1e272c;
  --forground: #fff;
  --border: #464749;
  --forgroun-muted: #e1e4e8;
}
